.profile_pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
  border: 1px solid #62667e;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #70759b;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #70759b;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: #70759b;
}
.loader_container {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: black;
  opacity: 0.8;
  z-index: 99;
}
#dropdownMenuButton:focus {
  outline: none;
  box-shadow: none;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: #16181b;
  text-decoration: none;
  background-color: #ff0882;
}
.dropdown-toggle::after {
  display: none;
}
.dot_pos {
  position: absolute;
  top: 20px;
  right: 52px;
}
.nav-pddng {
  padding: 10px 40px 8px;
}
.lgin {
  margin-right: 15px;
  background: #ff0882;
  color: white;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 14px;
  margin-left: 10px;
}
.btn_prfl:focus {
  box-shadow: none;
}


.navbar-light .navbar-nav .nav-link {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding-left: 15px;
  padding-right: 15px;
  color: rgb(255 255 255);
}

.input-group-btn {
  background: #3B4067;
  border-radius: 5px 0px 0px 5px;
  padding: 8px;
  height: 40px;
  width: 40px;
  min-width: 40px;
  text-align: center;
  font-size: 14px;

}
.custom_contr {
  background: #3B4067;
  border-radius: 0px 5px 5px 0px;
  padding: 8px;
  height: 40px;
  border: none;
    outline: none;
    font-size: 14px;
    color: #ffffff;

}
.cust_src button{
 font: 20px;
 padding: 0px;
 font-size: 14px;
}

button.btn.lgin.login_cust {
  height: 40px;
}

nav.custom_design_nv {
  position: relative;
  width: 100%;
  z-index: 999;
  border-bottom: 0px;
  background: #2d325a;
}
.input-group-btn.cust_src {
  border: 1px solid #ffffff;
  border-right: 0px;
  color: #ffffff;
  background-color: transparent;
}
.cust_src  button.btn.btn-default {
  color: #ffffff;
  background: transparent;
  border: none;
}

.custom_contr {
  border: 1px solid #ffffff !important;
  border-left: 0px !important;
  background: transparent !important;
  color: #ffff !important;
}
.custom_contr::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #ffff !important;
  opacity: 1; /* Firefox */
}

.custom_contr:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #ffff !important;
}

.custom_contr::-ms-input-placeholder { /* Microsoft Edge */
  color: #ffff !important;
}


@media (max-width:767px) {
  .nav-pddng{
    padding: 10px 0px 8px;
}
.nv_log {
  width: 50%;
  text-align: left;
}
.hovr_btn_res {
  width: 50%;
  text-align: right;
}
.collapse.show {
  background: #1e223f;
  padding-bottom: 20px;
}
.lgin {
  margin-right: 0px;
  background: #ff0882;
  color: white;
  height: 37px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  margin-left: 0px;
  width: 100%;
}
button.navbar-toggler {
  background: #ffffff;
  position: relative;
  right: 15px;
  top: -8px;
}
.nv_log a img {
  position: relative;
  top: -5px;
}
}


::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: white;
}

::ng-deep .p-menubar {
  background: #2d325a;
  border: transparent;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
  color: white;
}


::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text{
  color: white;
  }

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon{
  color: white;
  }

  ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover{
    background: #ff0882;
  }

  ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:focus {
    box-shadow: none;
}


::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover {
  background: #ff0882 !important;
}

// ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon{
//   color: white;
// }

// ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text{
//   color: white;
// }
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-icon {
  color: white !important;
}
::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-menuitem-text, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: white !important;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: white;
}

::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link .p-submenu-icon, .p-menubar .p-menubar-root-list > .p-menuitem.p-menuitem-active > .p-menuitem-link:not(.p-disabled):hover .p-submenu-icon {
  color: white!important;
}
.logo{
  width: 50px;
    margin-left: 20px;
    margin-right: 20px;
}
::ng-deep .p-menubar {
  // padding: 24px;
  // margin: 30px 88px;
  // border-radius: 20px;
  padding: 20px;
}
